body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}
.main{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.left{
    width: 50%;
}
.logo{
    color: blue;
    font-size:50px;
    font-weight: bold;
}
.fbline{
    font-size: 25px;
    margin-top: 10px;
    color:black;
}
.right{
    width :50%;

}
.loginbox{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    
}
.loginbox input{
    width:100%;
    padding:10px;
    margin:10px ;
    border-radius: 5px;
    border:1px solid lightgray;
  
}
.loginbtn{
    width:100%;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border:none;
}
.loginbtn:hover{
    background-color: green;
}
.forget{
    display: block;
    color:blue;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}
.createbtn{
    background-color: green;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border:none;
    cursor: pointer;

}
.createbtn:hover{
    background-color:blue;
}
.createpage{
    font-weight: bold;
    color:black;
    text-align: center;
    text-decoration: none;
}
