body{
    background-color:rgb(0, 195, 255);
}
.jitheshh{
    color:blue;
    text-align: center;
    font-weight: bolder;

}
/* types of selectors in css */

/* 1.universal selector */
*{
    background-color: yellowgreen;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
/* 2.element selector */
p{
    color:black;
    text-align: center;
    background-color: red;
}
/* 3.class selector */

.test{
    color:rgb(128, 0, 2);
    text-align: center;
    background-color: black;
}
/* 4.id selector */
#test{
    color: white;
    text-align: center;
    background-color: purple;
}

/* group selector */
h2, h3, p{
    color: brown;
    text-align: center;
    background-color: lightblue;
    
}

/* attribute selector */
input[type="text"]{
    background-color: lightgreen;
    border: 5px solid red;
    text-align: center;
    font-size: 20px;
}

a:hover{
    color: orange;
    background-color: black;

}
input[type="text"]:hover{
    background-color: yellow;
    border: 5px solid blue;
}

input[type="submit"]{
    background-color: lightblue;
    border: 5px solid green;
    font-size: 20px;
}
input[type="submit"]:hover{
    color:red;
    background-color: rgb(0, 255, 17);
    border: 5px solid rgb(4, 0, 255);
}
hr{
    border: 1px dashed black;
}